.first-img .btn {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:white;
    color:#009BA7;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.top-right {
    position: absolute;
    top: 20%;
    right: 10%;
    color: white;
}
input[type="file"] {
    display: none;
}