.navbar .container-fluid .navbar-brand img {
    height: 30px;
}

.top-right {
    position: absolute;
    top: 20%;
    right: 10%;
    color: white;
}

.mb-1 {
    line-height: 4em; 
}

input[type="file"] {
    display: none;
}

#landing-page {
    height: 1000px;
}
